<a href="https://colab.research.google.com/github/Omdena-Bhutan/02-data-structures-assignment-group-8/blob/main/Jamyang_Assignment_for_week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

In [15]:
age = int(input("Please enter your age: "))
if age < 12:
  price = 300
elif 12 <= age <= 17:
 price = 500
elif 18 <= age <= 59:
 price = 800
else: # age >= 60
 price = 400
print(f"your ticket price is {price}")

Please enter your age: 43
your ticket price is 800

In [17]:
import datetime

# check if today is Wednesday
today = datetime.datetime.today().strftime('%A')
if today == "Wednesday":
  price -= 100

# Print the result
print(f"your ticket price is Nu.{price}")

your ticket price is Nu.800

Assignment 2

In [19]:
# Secret number
secret_number = 20

# Ask the user to guess
guess = int(input("Guess the secret number: "))

# Keep asking until the user guesses correctly
while guess != secret_number:
    print("Wrong guess. Try again!")
    guess = int(input("Guess the secret number: "))

# Correct guess
print("Congratulations! You guessed correctly!")

Guess the secret number: 9
Wrong guess. Try again!
Guess the secret number: 17
Wrong guess. Try again!
Guess the secret number: 20
Congratulations! You guessed correctly!

Assignment 3 Keyward argument

In [20]:
def greet(name, age):
    print(f"Hi! i am, {name}, {age} years old.")

# Using keyword arguments
greet(name="Jamyang", age=15)

Hi! i am, Jamyang, 15 years old.

 Variable Number of Arguments

 - args and **Kwargs

In [21]:
def greet_all(*args):
    for name in args:
        print(f"Hello, {name}!")

greet_all("Jamyang", "Tenzin", "Kinga")

Hello, Jamyang!
Hello, Tenzin!
Hello, Kinga!

In [22]:
def add_numbers(*args):
    total = 2
    for num in args:
        total += num
    print(f"The sum is {total}")

# Calling function with different number of arguments
add_numbers(11,12)
add_numbers(5, 10, 15, 20)

The sum is 25
The sum is 52

In [23]:
def print_user_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} = {value}")

print_user_info(name="Jamyang", age=30, country="India")

name = Jamyang
age = 30
country = India

In [24]:
def mixed_demo(a, b, *args, **kwargs):
    print("a =", a)
    print("b =", b)

    print("args:", args)
    print("kwargs:", kwargs)

mixed_demo(1, 2, 3, 4, 5, name="Khando", city="Thimphu")

a = 1
b = 2
args: (3, 4, 5)
kwargs: {'name': 'Khando', 'city': 'Thimphu'}

Assignment 4

In [25]:
# Function to calculate grade based on marks
def calculate_grade(marks):
    if 90 <= marks <= 100:
        return "A"
    elif 80 <= marks <= 89:
        return "B"
    elif 70 <= marks <= 79:
        return "C"
    elif 60 <= marks <= 69:
        return "D"
    elif 0 <= marks < 60:
        return "Failed"
    else:
        return "Invalid marks. Please enter a number between 0 and 100."

# Get input from the user
try:
    marks = float(input("Enter your marks (0-100): "))
    grade = calculate_grade(marks)
    print(f"Your grade is: {grade}")
except ValueError:
    print("Invalid input. Please enter a number.")

Enter your marks (0-100): 90
Your grade is: A