<a href="https://colab.research.google.com/github/Omdena-Bhutan/02-data-structures-assignment-group-8/blob/main/Python_Operator_Jamyang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Arithetics Operaters
# Additon -"+"
print(5+5)

10

In [2]:
# Exponent
print (5 **5)

3125

In [3]:
# subtraction - "-"
print(50 - 5)

45

In [4]:
# Multiplication - "*"
print (5*5)

25

In [5]:
# Division - "/"
print(50/5)

10.0

In [6]:
# Floor Division Operatoer - "//"
print(50//6)

8

In [7]:
# Modullus - "%"
print(50 % 6)

2

# Comparision (Relation) Operaters( True/False)
- used to compare value

In [8]:
# Equlity
# Equal to
print (5==5)

True

In [9]:
# Not equal
print(5 !=5)

False

In [11]:
#Greater than
print(5 > 3)

True

In [12]:
# Less than
print (5<3)

False

In [13]:
# Greater than or equal to
print (5>=5)

True

In [14]:
# Less than or equal to
print(5<=5)

True

# Assignment Operater

In [15]:
# Assign - "="
x = 5
print(x)

5

In [17]:
# Add and assign - "+="
x+= 5
print(x)

10

In [18]:
# Subtracted and assign - "-="
x-=3
print(x)

7

In [19]:
# Multiply and assign- "*="
x*=3
print(x)

21

In [20]:
# Divide and assign "/="
x/=7
print(x)

3.0

In [21]:
# Floor divide and assign "//="
x=16
x//=5
print(x)

3

In [23]:
#Modullus and assign - "%="
x= 9
x %=2
print(x)

1

In [24]:
# Exponent and assign
x **=2
print(x)

1

# Identify Operaters
-used to check if 2 objects are in the same memory/reaction

In [31]:
from re import X
X = [1,2,3]
Y = X
Z = [1,2,3]
print( X is Y )

True

In [35]:
print(X is 2) # false

False

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipython-input-1101324240.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(X is 2) # false

# Membership Operaters
- use to check if a value exist in a sequence

In [36]:
# in
"a" in "apple"

True

In [37]:
"X" in " Orrange"

False

In [38]:
# Not in
"a" not in "apple"

False

# Bitwise Operater ( Works on benenary numbers

In [39]:
# AND &
print(4 & 2)

0

In [40]:
# XOR ^
print(5^3)

6

In [43]:
Not ~
~5

SyntaxError: invalid syntax (ipython-input-1501162228.py, line 1)

In [44]:
# Left shift
5<<1

10

In [45]:
# Right shift
5>>1

2

# Logical Operaters
-used to combine conditions

In [50]:
# and - if returns a true in cases when both conditions are true.

In [53]:
# true and true